<h1><%= @doctor.name %></h1>

<ul>
<li><%= link_to 'Schedule Appointment', new_doctor_appointment_path(@doctor.id)%></li>
</ul>

<%= link_to "Edit Doctor", edit_doctor_path %>
<%= link_to "Delete Doctor", @doctor, method: :delete %>

