<div class = "appt-show">
  <h1>Your Appointment Appointment</h1>

  <h2>Appointment Info: <%= @appointment.date %></h2>
  </br>
  

  <%= link_to "Edit Appointment", edit_doctor_appointment_path %>
  <%= link_to "Delete Appointment", [@doctor, @appointment], method: :delete %>
</div>
